<div class="card">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

  <div class="card-body">
    <h5 class="card-title">JavaScript. The Good Parts</h5>
    <p class="card-text">With JavaScript: The Good Parts, you'll discover a beautiful, elegant, lightweight and highly expressive language that lets you create effective code, whether ...</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Douglas  Crockford</li>
    <li class="list-group-item">Pages: 123</li>
    <li class="list-group-item">Format: A4</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Edit</a>
  </div>
</div>
