<div class="bg-light col border rounded-3">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Pages</th>
      <th scope="col">Format</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Book</td>
      <td>Mark Otto</td>
      <td>12</td>
      <td>A4</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Book</td>
      <td>Jacob Thornton</td>
      <td>12</td>
      <td>A4</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Book</td>
      <td>Larry the Bird</td>
      <td>12</td>
      <td>A4</td>
    </tr>
    </tbody>

  </table>
</div>
